<launch>
    <param name="robot_description" textfile="$(find mobile-0244)/urdf/robot.urdf"/>
  <!-- <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" /> -->
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <!-- <node name="GUI_EX" pkg="work" type="editflot.py"/> -->
  <!-- <node name="test" pkg="work" type="testurdf.py"/> -->
  <!-- <node name="GUI_EX" pkg="work" type="guiminirobot.py"/> -->
  <!-- <node name="GUI_new1" pkg="work" type="guimtext.py"/> -->
  <!-- <node name="gui" pkg="work" type="old_code_gui.py"/> -->

  <!-- <node name = "serial_node" pkg ="rosserial_arduino" type = "serial_node.py"> -->
  <!-- </node>  -->
</launch>